* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
}

.header {
	background-color: hsl(9, 100%, 71%);

	width: 100rem;
	height: 32rem;
	border-radius: 0 0 0 6rem;
}
.header nav ul {
	display: flex;
	list-style: none;
	position: relative;
}
.logo {
	margin-right: 4rem;
	margin-left: 10rem;
	margin-top: 4rem;
}
.menu {
	margin-top: 4.3rem;
}
.last {
	margin-right: 15rem;
	margin-left: 1rem;
	margin-top: 5rem;
}
.button {
	background-color: hsl(353, 100%, 62%);
	padding: 1rem 1rem;
	font-family: 'Overpass', sans-serif;
	text-decoration: none;
	color: white;
	border-radius: 1rem;
	font-weight: bold;
}

.button:hover {
	background-color: white;
	color: hsl(9, 100%, 71%);
}
.min {
	margin-left: 30rem;
	margin-top: 5rem;
	color: white;
}
a {
	text-decoration: none;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: 4rem;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.header span img {
	width: 80%;
	margin-top: -33rem;
	margin-left: 25rem;
	position: absolute;
}
.header .content {
	position: relative;
	margin-top: 4rem;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	line-height: 2;
	color: white;
}
.header .content h1 {
	font-size: 3rem;
}
.header .content ul {
	display: flex;
	list-style: none;
	margin-left: 40rem;
	gap: 2rem;
	margin-top: 1rem;
	
}
.middle {
	font-family:'Overpass', sans-serif ;
}
.middle img{
    float: right;
	width:40%;
	object-fit: cover;
	overflow: hidden;

}
.object h1{
	text-align: center;
	margin-top:6rem ;
	margin-left: 30rem;
	font-family: 'Overpass', sans-serif;
	margin-bottom: 10rem;

}
.object h2{
    margin-left: 6rem;
}
.object p{
	margin: 2rem;
	line-height: 1.4rem;
	margin-left: 6rem;
}
.middle2 {
	margin-top: 8rem;
	background-color: hsl(235, 23%, 31%);
	height: 20rem;
	border-radius: 0 6rem 0 6rem;
}
.middle2 img{
	margin-top: -5rem;
	width:33%;
	margin-left:3rem;
}
.middle2 .content2{
	margin-top: -23rem;
	margin-left:50rem;
	color: white;
}
.middle2 .content2 h2{
	font-size: 2rem;
	margin-bottom: 1rem;
	font-family:'Ubuntu', sans-serif ;
}
.middle2 .content2 p{
	font-size: 15px;
	line-height: 1.4rem;
	font-weight: 300;
	color:hsl(206, 3%, 57%);
}

.middle3 img{
	margin-top:10rem;
	width:50%;
}
.middle3 .content3{
	margin-top: -30rem;
	margin-left:50rem;
	color: hsl(206, 3%, 57%);

	
}
.middle3 .content3 h2{
	margin-bottom:2rem ;

}
.middle3 .content3 p {
	margin-bottom: 4rem;
	line-height: 1.4rem;
}
.footer{
	display: flex;
     background-color:hsl(240, 10%, 16%) ;
	 height:29rem;
      margin-top: 15rem;	
	  color:white;
	  border-radius: 0 3rem 0 0; 
}
.footer span img{
	margin-top: 3rem;
	margin-left: 10rem;

} 
.footer ul{
   list-style: none;
   margin-top: 3rem;
	margin-left: 10rem;

}
.footer ul li {
	line-height: 3.5rem;
	color:hsl(206, 3%, 57%);;
}